* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    opacity: 100%;

}

nav ul {
    list-style: none;
    align-items: center; /* Vertically center the items */
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
}

nav a:hover {
    background-color: #777;
}

.navigation form {
    display: flex;
    margin-left: auto; /* Align the form to the right */
}

.navigation input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

.navigation button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
}

.navigation a:last-child {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Add spacing between the form and the last link */
}

